h1{
    color:blue;
    background-color:rgb(13, 255, 0);

}
h2{
    
    color:rgb(211, 0, 137);
    
    
}
b{
    background-color:yellow;
    color: rgb(255, 0, 0);
}

u{
    color:brown;
    background-color:rgb(4, 255, 0);
}

li{
    color:rgb(122, 0, 183);

}


